@-moz-document domain(tour.golang.org) {
  .top-bar
  {
    color: #999 !important;
    background: radial-gradient(#181818 15%, transparent 16%) 0 0, radial-gradient(#181818 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.20) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,0.20) 15%, transparent 20%) 8px 9px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    background-size: auto auto, auto auto, auto auto, auto auto !important;
    background-color: #000 !important;
    background-size: 16px 16px !important;
  }

  .ui-draggable
  {
    background: #111 !important;
  }

  #editor-container
  {
    background: #4b4b4b !important;
    color: #929292 !important;
  }

  #explorer
  {
    background: #222 !important;
  }

  .menu-button
  {
    background: #333 !important;
    color: #a8a8a8 !important;
    transition: 0.5s !important;
  }

  .menu-button.active
  {
    background: #a8a8a8 !important;
    color: #fff !important;
    transition: 0.5s !important;
  }

  #right-side
  {
    background: #111 !important;
  }

  #file-editor
  {
    background: #1E1E1E !important;
  }

  .CodeMirror-gutters
  {
    border-width: 0.25px !important;
    border-color: #6c6c6c !important;
  }

  #file-editor .CodeMirror-lines, #file-editor .CodeMirror-gutters
  {
    background: #1E1E1E !important;
    color: #D4D4D4 !important;
  }

  #file-menu
  {
    background: #222 !important;
  }

  .slide-content
  {
    background: #222 !important;
    color: #999 !important;
  }

  pre
  {
    background: #333 !important;
    color: #999 !important;
  }

  code, code-mirror, .CodeMirror-scroll
  {
    background: #505050 !important;
    color: #fff !important;
  }

  .CodeMirror-lines
  {
    background: #222 !important;
  }

  h1, h2, h3, h4
  {
    color: #999 !important;
  }

  .output > pre
  {
    background: #111 !important;
  }

  .output
  {
    bottom: 25px !important;
    background-color: #111 !important;
    background-image: url("https://i.imgur.com/F72aoCH.png") !important;
  }

  .cm-keyword
  {
    color: #569CD6 !important;
  }

  .cm-atom
  {
    color: #569CD6 !important;
  }

  .cm-comment
  {
    color: #608B4E !important;
  }

  .cm-number
  {
    color: #B5CEA8 !important;
  }

  .cm-string
  {
    color: #CE9178 !important;
  }

  .CodeMirror-linenumber
  {
    color: #808080 !important;
  }

  .bar.module-bar
  {
    background-color: #000 !important;
  }

  .menu-button.active
  {
    background-color: #505050 !important;
  }

  .CodeMirror-cursor
  {
    border-left: 1px solid #CE9178 !important;
  }

  .menu-button:hover:not(.active)
  {
    background-color: #ccc !important;
    color: #505050 !important;
  }

  #run:hover:not(:active), #kill:hover:not(:active)
  {
    background-color: #ccc !important;
    color: #375eab !important;
  }
}
